.teor:before{
  counter-increment: contTeor;
  font-weight: bold;
  content: "Teorema " counter(contCap)"."counter(contSec)"."counter(contTeor) ". ";
}

.teor.simples:before{
  counter-increment: contTeor;
  font-weight: bold;
  content: "Teorema " counter(contTeor) ". ";
}
    
.teor[text]:before {
  counter-increment: contTeor;
  content: "Teorema " counter(contCap)"."counter(contSec)"."counter(contTeor) " (" attr(text) "). ";
}
      
.prop:before{
  counter-increment: contProp;
  font-weight: bold;
  content: "Proposição " counter(contCap)"."counter(contSec)"."counter(contProp) ". ";
}

.prop.simples:before{
  counter-increment: contProp;
  font-weight: bold;
  content: "Proposição " counter(contProp) ". ";
}
      
.prop[text]:before {
  counter-increment: contProp;
  content: "Proposição " counter(contCap)"."counter(contSec)"."counter(contProp) " (" attr(text)"). ";
}
      
.lema:before{
  counter-increment: contLema;
  font-weight: bold;
  content: "Lema " counter(contCap)"."counter(contSec)"."counter(contLema) ". ";
}

.lema.simples:before{
  counter-increment: contLema;
  font-weight: bold;
  content: "Lema " counter(contLema) ". ";
}
      
.lema[text]:before {
  counter-increment: contLema;
  content: "Lema " counter(contCap)"."counter(contSec)"."counter(contLema) " (" attr(text)"). ";
}

.corolario:before{
  counter-increment: contCoro;
  font-weight: bold;
  content: "Corolário " counter(contCap)"."counter(contSec)"."counter(contCoro) ". ";
}

.corolario.simples:before{
  counter-increment: contCoro;
  font-weight: bold;
  content: "Corolário " counter(contCoro) ". ";
}
      
.corolario[text]:before {
  counter-increment: contCoro;
  content: "Corolário " counter(contCap)"."counter(contSec)"."counter(contCoro) " (" attr(text)"). ";
}
      
.obs:before{
  counter-increment: contObs;
  font-weight: bold;
  content: "Observação " counter(contCap)"."counter(contSec)"."counter(contObs) ". ";
}

.obs.simples:before{
  counter-increment: contObs;
  font-weight: bold;
  content: "Observação " counter(contObs) ". ";
}
      
.def:before{
  counter-increment: contDef;
  font-weight: bold;
  content: "Definição " counter(contCap)"."counter(contSec)"."counter(contDef) ". ";
}

.def.simples:before{
  counter-increment: contDef;
  font-weight: bold;
  content: "Definição " counter(contDef) ". ";
}

.fim::after {
  content: "\25A2";
  float:right;
}

.exemplo:before{
  counter-increment: contExemplo;
  font-weight: bold;
  content: "Exemplo "counter(contCap)"." counter(contSec)"."counter(contExemplo) ". ";
}

.exemplo.simples:before {
  counter-increment: contExemplo;
  font-weight: bold;
  content: "Exemplo " counter(contExemplo) ". ";
}
