/* styles.css */
body {
    font-size: 16pt;
    font-family: "Helvetica", sans-serif;
    line-height: 1.5;
    background-color: rgb(233,227,206);
    margin: auto;
    padding: 5pt;
}

h1 {
    background-color: rgb(213,113,0);
    padding: 5pt;
    border-radius: 50px;
}

.hifscor {
    text-decoration: none;
    color: inherit;
}

details > summary {
    font-style: italic;
    color: blue;
    cursor: pointer;
    position: relative;
    transition: 0.15s background linear;
}

details > summary:hover {
    background: #d4d1ec;
}

details > .caixa {
    border: solid;
}

.equationWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}

.math {
  flex-grow: 1;
}

.buttonDetails {
    border: none;
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: rgb(233,227,206);
    color: black;
    border: 2px solid rgb(213,113,0);
}

.button1:hover {
    background-color: rgb(213,113,0);
    color: black;
}

.imagem-responsiva {
  width: 100%;
  max-width: 600px;
  height: auto;
  display: block;
  margin: 0 auto; /* para centralizar */
}

/* Contêiner com rolagem horizontal */
.table-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* para suavizar em iOS */
  width: 100%;
}

/* Rolagem vertical com altura máxima */
.table-scroll-vertical {
  max-height: 300px; /* altura visível máxima */
  overflow-y: auto;
  border: 1px solid #ccc;
}

/* Estilo geral da tabela */
table {
  border-collapse: collapse;
  min-width: 600px; /* força largura mínima para permitir scroll */
  width: 100%;
}

/* Células */
th, td {
  border: 1px solid #ddd;
  padding: 12px 20px;
  text-align: center;
  white-space: nowrap; /* evita quebra de texto */
}

/* Cabeçalho */
thead {
  background-color: #f0f0f0;
}

th {
  font-weight: bold;
  background-color: #f1f1f1;
  position: sticky;
  top: 0;
  z-index: 2;
}

/* Linhas alternadas */
tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Coluna fixa (opcional) */
.sticky-col {
  position: sticky;
  left: 0;
  background-color: #f1f1f1;
  z-index: 1;
}


.bloco-codigo {
    background-color: #f5f5f5;
    padding: 10px;
    border-left: 4px solid #009688;
    font-family: monospace;
    font-size: 14px;
    white-space: pre-wrap;
    overflow-y: auto;
    overflow-x: auto;
    max-height: 200px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    margin-top: -2em;
}
